@model Lab1.Models.Person

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(Model => Model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.FirstName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(Model => Model.LastName)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.LastName)
        </td>
    </tr>
</table>

